 <!-- footer -->
 <footer>
  <div class="upper-footer" style="width: 80%; text-align: center;">
      <div class="contact d-flex justify-content-around p-2" style="margin: auto;">
          
      </div>
  </div>
  <div class="footer d-flex justify-content-around p-3">
      <div class="copyright p-2">
          Copyright © preloved attire
      </div>
      <div class="powered p-2">
<p>prelovedattire.gmail.com</p>  

 
</div>
 <div class="d-flex justify-content-between social-footer">
  <a href="https://facebook.com" class="icon facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
  <a href="https://instagram.com" class="icon instagram" target="_blank"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com" class="icon twitter" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://snapchat.com" class="icon snapchat" target="_blank"><i class="fab fa-snapchat-ghost"></i></a>

  </div>
  </div>



</footer>
